@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
:root {
    --body-font-family: 'Open Sans', sans-serif;
    --title-font-family: 'Montserrat', sans-serif;
}

html {
    background-image: linear-gradient(15deg, #1fa1a1 0%, #30bfaa 100%);
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

#logo {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px 8px 10px 8px; 
    color: #000000;
}

/* STRUCTURE */
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    border-radius: 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* FORM TYPOGRAPHY */
input[type="email"], input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

input[type="email"]:focus, input[type="password"]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5f99e9;
}

button {
    background-color: #1fa1a1;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: black;
}

/* FOOTER */
#formFooter {
    background-color: #f6f6f6;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

/* ANIMATIONS */
.fadeIn {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

*:focus {
    outline: none;
} 

* {
    box-sizing: border-box;
}
